*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
}

#search-form {
  margin-bottom: 20px;
}

#current-image-container {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

#search-history {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-history li {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}

#search-history li:hover {
  background-color: #f0f0f0;
}

img{
  height: 300px;
  margin: 20px 0px;
}